.container
  %h1 Topics
  .row
    .col-md-8
      - @topics.each do |topic|
        .media
          .media-body
            %h4.media-heading
              = link_to topic.name, topic
            %small
              = topic.description
    .col-md-4
      = link_to "New Topic", new_topic_path, class: "btn btn-success"
