.container
  %h1 New Topic
  .row
    .col-sm-4
      %p Guidelines for topics
      %ul
        %li No cats
        %li No cat pictures
        %li Keep it topical
        %li Cats are bad
    .col-sm-8
      = render partial: 'form', locals: { topic: @topic }
