<div class="form-group">
  <%= f.label :labels %>
  <%= f.text_field :labels, class: 'form-control', palceholder: "Enter comma-separated labels",
        value: labels.map(&:name).join(', ') %>

</div>
