<div class="row">
  <div class="col-md-8">
      <h1>Label: <%= @label.name %></h1>
      <% @label.topics.each do |topic| %>
        <div>
          <h6>Topic: <%= link_to topic.name, topic %></h6>
        </div>
      <% end %>
      <% @label.posts.each do |post| %>
        <div>
          <h6>Post: <%= link_to post.title, topic_post_path(post.topic, post) %></h6>
        </div>
      <% end %>
  </div>
</div>
