<h1>F.A.Q.</h1>

<p>
  <dl>
    <dt>What is best in life?</dt>
    <dd>To crush your enemies, to see them driven before you, and to hear the lamentation of their women</dd>
    <dt>Whhat is inscribed on Conan's sword?</dt>
    <dd>Suffer no guilt, ye who wield this in the name of Crom.</dd>
    <dt>What historical god is Crom based off of?</dt>
    <dd>The Irish Celtic god Crom Cruach, who demanded human sacrifice.</dd>
  </dl>
</p>
