.container
  %h1 F.A.Q.
  .container-md-12.row
    %p.row
      %dl
        %dt.question What is best in life?
        %dd.answer To crush your enemies, to see them driven before you, and to hear the lamentation of their women
        %dt.question What is inscribed on Conan's sword?
        %dd.answer Suffer no guilt, ye who wield this in the name of Crom.
        %dt.question What historical god is Crom based off of?
        %dd.answer The Irish Celtic god Crom Cruach, who demanded human sacrifice.

      %h4.col-md-12.row Important People in History
      - characters = %W{Conan Thulsa\ Doom King\ Osric Valeria Rexor Subotai Thorgrim}
      .col-md-4
        %ul.row
          - characters.each do |c|
            %li=c

      .col-md-8
        %img.row#conan{:src => "http://i.kinja-img.com/gawker-media/image/upload/yvqylz3c0ywhkpt1g8of.jpg", :alt => "Conan"}
