<h1>Welcome to Bloccit</h1>
<p>This is the home page for Bloccit.</p>

<div class="social-btn">
  <%= link_to "Find me on Twitter", "https://www.twitter.com/rustiest", class: "btn btn-default social-btn" %>
<div>
