=form_for [topic, post] do |f|
  - if post.errors.any?
    .alert.alert-danger
      %h4=pluralize(post.errors.count, "error")
      %ul
        - post.errors.full_messages.each do |msg|
          %li=msg
  = form_group_tag(post.errors[:title]) do
    =f.label :title
    =f.text_field :title, class: 'form-control', placeholder: 'Enter a title'
  = form_group_tag(post.errors[:body]) do
    =f.label :body
    =f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Enter post here'
  .form_group=render partial: 'labels/form', locals: { f: f, topic: @topic, labels: @post.labels }
  .form_group=render partial: 'ratings/form', locals: { f: f, topic: @topic, rating: @post.rating }
  .form-group
    =f.submit "Save", class: "btn btn-success"
