.container
  %h1.row Edit Post
  .row
    .col-md-4
      %h4 Guidelines for Posts
      %ul
        %li Make it rhyme
        %li Make it a haiku
        %li Use lots of hashbrowns
    .col-md-8
      = render partial: 'form', locals: { topic: @post.topic, post: @post }
