// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$form_vertical_distance: 5px;

.form-group {
  margin: $form_vertical_distance 0;
}

.form-control {
  margin-bottom: $form_vertical_distance;
}

textarea {
  height: auto;
  min-height: 140px;
}
