// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$btn-fonts: Georgia, "Times New Roman", serif;
$social-btn-color: #FFF;
$social-btn-bk-color: #4099FF;
$social-btn-bk-hover-color: #FF0090;

.social-btn {
  position: fixed;
  right: 20px;
  top: 2px;
  width: 150px;
  height: auto;
}

div.social-btn:hover {
  border-bottom: 1px #EE0000 dotted;
}

.social-btn a {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  text-align: center;
  font-family: $btn-fonts;
  color: $social-btn-color;
  background-color: $social-btn-bk-color;
}

.social-btn a:hover {
  color: $social-btn-color;
  background-color: $social-btn-bk-hover-color;
  text-decoration: none;
}

.question {
  margin: 10px 0 10px 10px;
}

.question:first {
  margin-top: 0;
}

.answer {
  margin: 0 0 0 15px;
}

img#conan {
  width: 100%;
  height: auto;
}
